header {
    background-color: #000033;
    color: #ffffff;
    background-image: url(sunset.jpg);
    background-position: right;
    background-repeat: no-repeat;
    height: 60px;
    text-align: center;
    padding-top: 15px;
}

body {
    
    background-color: #ffffff;
    background-image: linear-gradient(to bottom, #FFFFFF, #4f6d93);
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;

}

nav {
    font-weight: bold;
    padding: 20px;
    float: left;
    width: 190px;
    padding-left: 30px;
}

main {
    padding-top: 1px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    background: #FFFFFF;
    margin-left: 165px;
}
figure { float: none;
        width: 100%
}

h2 {
    color: #90c7e3;
}

.resort {
    color: #5c7fa3;
    font-weight: bold;
}

nav a {
    text-decoration: none;
}

form{
    background-color: #eaeaea;
    font-family: Arial, sans-serif;
    width: 350px; padding: 10px;}
label{
    float: left; clear: left;
    display: block; width: 100px;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    
}

input, textarea{margin-top: 10px;
display: block;}
input[type="submit"] {margin-left: 110px;}
h1 {
    margin-top: 0;
    font-family: Georgia, Times New Roman, serif;
}

h2 {
    font-family: Georgia, Times New Roman, serif;
    text-shadow: 1px 1px 1px #CCCCCC;
}

h3 {
    font-family: Georgia, Times New Roman, serif;
}

footer {
    font-size: 75%;
    font-style: italic;
    font-family: Georgia, Times New Roman, serif;
    padding: 20px;
    margin-left: 165px;
    background: #FFFFFF;
    text-align: center;
}

table {
    border: 1px solid #3399cc;
    width: 80%;
    border-spacing: 0;
}

td, th {
    padding: 5px;
    border: 1px solid #3399cc;
}

tr {
    text-align: center;
    text-align: left
}

th {
    text-align: center;
}

#wrapper {
    margin: auto;
    background-color: #FFFFFF;
    width: 80%;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px #333333;
}

#homehero {
    height: 300px;
    background: url(coasthero.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 190px;
}

yurthero {
    height: 300px;
    background: url(yurthero.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 190px;
}

trailhero {
    height: 300px;
    background: url(trailhero.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 190px;
}

ul {
    font-size: 1.2em;
    text-decoration: none;
}
nav ul { list-style-type: none; 
        margin: 0;
        padding: 0;
}
nav a:link {
    color: #000033;
}

nav a:visited {
    color: #344873;
}

nav a:hover {
    color: #ffffff;
}

@media only screen and (max-width: 64em) {
    img{
        max-width: 100%;
        
    }
    #wrapper {
        min-width: 0;
        width: auto;
        box-shadow: none;
    }
    main {
        margin-left: 0;
    }
    figure{
     display: none;
    }
    
    nav{
        float: none;
        width: auto;
        text-align: center;  
    }
    
    nav li{
        float: none;
        width: auto;
        text-align: center;
        padding: 0.5em;
        display: inline;
        
    }
    ul {
        
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        padding-left: 6em;
        padding-right: 0.75em;
    }
    homehero {
        margin: 0;
        height: 200px;
    }
    yurthero {
        margin: 0;
        height: 200px;
    }
    trailhero {
        margin: 0;
        height: 200px;
    }
}

@media only screen and (max-width: 37.5em) {
    header {
        padding-top: 1em;
    }
    figure{ display: none;}
    main {
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 90%;
    }
    img{
        max-width: 100%;
        height: auto;
        
    }
    figure { display: none; }
    h1, h2 {
            font-size: 100%; }
    span { font-size: 80%; }
    nav, nav ul, nav li { padding: 0; }
    nav li {display: block; }
    nav a { display: block;
            padding: 0.5em 0;
        border-bottom: 2px ridge #330000;
    }
    nav li {
        display: block;
    }
}
homehero, yurthero, trailhero{
    
    background-image: none;
    height: 0;
    
}
label{
    float: left;
    display: block;
    text-align: right;
    width: 120px;
     
}
input{
    
    display: block;
    margin: 20px;
    
}

header,
main,
nav,
footer,
figure,
figcaption {
    display: block;
}